<table>
	<tr>
		<td>Event Name</td>
		<td>Event Date</td>
		<td>End of Voting Time</td>
		<td>Creator</td>
	</tr>
	<%@events.each do |event|%>
	<tr>
		<td><%=event.event_name %></td>
		<td><%=event.event_date %></td>
		<td><%=event.vote_end_time %></td>
		<td><%=event.creator_id %></td>
	</tr>
	<% end %>
</table>